@import '../../assets/scss/color_variables';
a.TaskLink {
    text-decoration: none;
    padding: 15px 20px;
    margin-right: 5px;
    color: $lite_gray;
    .Task{
        padding: 15px;
        // box-shadow: 6px 7px 16px -9px rgba(0,0,0,0.75);
        width: 100%;
        position: relative;
        transition: all 0.5s ease-in-out;
        border: 1px solid $lite_gray;
        h3{
            margin-bottom: 10px;
            color: $black
        }
        p{
            font-size: 15px;
            color: $black;
            margin-bottom: 5px;
            >*{
                font-weight: bold;
                color: $lite_gray
            }
        }
        .TaskStatus{
            width: 50px;
            height: 50px;
            position: absolute;
            top: 0px;
            right: 0px;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 25px;
            color: $black;
        }
        &:hover{
            box-shadow: 7px 7px 24px -1px rgba(0,0,0,0.75);
        }
    }
}