@import './screen_sizes';
@import './color_variables';
.TasksPage{
    display: flex;
    width: 100%;
    @media screen and (max-width: $large_tablet_max_width) {
        flex-direction: column;
        width: 95vw;
    }
    @media screen and (min-width: $large_min_width) {
        justify-content: space-between;
    }
    .TasksGroup{
        display: flex;
        flex-direction: column;
        margin: 20px 0;
        padding: 0 10px;
        border-right: 1px solid #ccc;
        article{
            width: 100%
        }
        h2{
            padding: 10px 0;
            border-bottom: 3px solid $gray;
            margin-bottom: 20px;
        }
        @media screen and (max-width: $large_tablet_max_width) {
            margin: 20px auto;
            border: 1px solid #ccc;
            padding: 10px;
            width: 95%; 
        }
        @media screen and (min-width: $large_min_width) {
            &:first-child{
                padding-left: 0;
            }
            &:last-child{
                border-right: 0;
                padding-right: 0;
            }
        }
    }
}