@import './screen_sizes';
@import './color_variables';
.TasksPage{
    display: flex;
    flex-direction: column;
    width: 100%;
    @media screen and (min-width: $large_min_width) {
        flex-direction: row;
        justify-content: space-between;
    }
    .TasksGroup{
        display: flex;
        flex-direction: column;
        width: 100%;
        border: 1px solid #ccc;
        padding: 10px 10px;
        margin-bottom: 20px;
        h2{
            border-bottom: 3px solid $gray;
            margin-bottom: 20px;
        }
        @media screen and (min-width: $large_min_width) {
            border: none;
            border-right: 1px solid #ccc;
            &:first-child{
                padding-left: 0;
            }
            &:last-child{
                border-right: 0;
                padding-right: 0;
            }
        }
    }
}