language: node_js

node_js:
- 10.15.3

cache: npm

install:
  - npm ci

script:
  # - npm test
  - npm run build

deploy:
  provider: pages
  skip-cleanup: true
  github-token: $GITHUB_TOKEN
  on: 
    branch: gh-pages

notifications:
  email:
    recipients:
      - mohamednajiub@ieeehsb.org
    on_success: always
    on_failure: always