@import '../../assets/scss/color_variables';
@import '../../assets/scss/screen_sizes';
.Committees{
    display: flex;
    flex-direction: column;
    width: 100%;
    @media screen and (min-width: $large_tablet_min_width) {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .AddCommittee{
        position: fixed;
        bottom: 20px;
        right: 20px;
        width: 50px;
        height: 50px;
        background-color: $main_color;
        color: $white;
        border-radius: 50%;
        cursor: pointer;
    }
}