@import '../../../assets/scss/color_variables';
.PublicSideDrawer{
    .SideDrawerNavigation{
        display: flex;
        flex-direction: column;
    }
}
.Open{
    transform: translateX(0);
}
.Close{
    transform: translateX(-100%);
}
@media (min-width: 500px){
    .PublicSideDrawer{
        display: none;
    }
}
