@import '../../../assets/scss/screen_sizes';

.SinglePost {
    width: 95%;
    max-width: 800px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    margin: 40px 0px;
    border: 1px solid #ccc;
    justify-content: center;
    @media screen and (min-width: $small_tablet_min_width){
        width: 90%;
    }
    @media screen and (min-width: $large_max_width){
        width: 70%
    }
    header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 20px;
        font-size: 18px;
        padding: 5px;
        svg{
            width: 20px;
            height: 20px;
            margin-left: 15px;
            cursor: pointer;
        }
    }
    .Content{
        padding-left: 20px;
        margin-bottom: 40px;
        img{
            width: max-content;
            height: max-content;
        }
    }
}