@import '../../../assets/scss/screen_sizes';
@import '../../../assets/scss/color_variables';

.Committee {
    transition: all 0.5s ease-in-out;
    padding: 15px;
    margin: 0 20px 20px 0;
    border: 1px solid $lite_gray;
    width: 100%;
    @media screen and (min-width: $large_tablet_min_width) {
        width: fit-content
    }
    .CommitteeHeader{
        display: flex;
        justify-content: space-between;
        align-content: center;
        align-items: center;
        margin-bottom: 20px;
        a{
            text-decoration: none;
            color: $black;
            cursor: pointer;
            padding: 5px 20px 5px 0;
            margin-right: 20px;
        }
        .CommitteeSettings {
            font-size: 30px;
            color: $black;
            cursor: pointer;
        }
    }
    p {
        font-size: 15px;
        color: $black;
        margin-bottom: 5px;
        >* {
            color: $main_color
        }
    }
    
    &:hover {
        box-shadow: 7px 7px 24px -1px rgba(0, 0, 0, 0.75);
    }
}