@import '../../../assets/scss/color_variables';

.Toolbar {
    position: fixed;
    height: 56px;
    width: 100%;
    top: 0;
    left: 0;
    background-color: $main_color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    z-index: 90;

    .DesktopOnly {
        display: flex;
        nav {
            height: 100%;
            ul {
                display: flex;
                li {
                    a {
                        border: none;
                        border-right: 1px solid $white;
                    }
                }
            }
        }
    }
}

@media (max-width: 499px) {
    .Toolbar {
        .DesktopOnly {
            display: none;
        }
    }
}