@import '../../../assets/scss/color_variables';
@import '../../../assets/scss/screen_sizes';

.Toolbar {
    position: fixed;
    height: 56px;
    width: 100%;
    top: 0;
    left: 0;
    background-color: $main_color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    z-index: 90;

    .ToolbarLogo {
        width: 20%;
        height: auto;
        margin-right: 20px;
        img{
            width: 100%
        }

        @media screen and (max-width: $small_tablet_max_width) {
            width: auto;
        }

        @media screen and (min-width: $large_tablet_min_width) and (max-width: $large_tablet_max_width) {
            width: 30%;
        }
    }

    .DesktopOnly {
        @media (max-width: $small_tablet_max_width) {
            display: none;
        }
        display: flex;
        align-items: center;
        nav {
            height: 100%;
            ul {
                display: flex;
                li {
                    a {
                        border: none;
                        border-right: 1px solid $white;
                    }
                }
            }
        }
    }
}