@import '../../assets/scss/color_variables';
.Container{
    position: relative;
    display: flex;
    flex-flow: column;
    margin-top: 20px;
    border: 1px dashed #000;
    position: relative;
    height: 200px;
    padding: 5px;
    padding: 20px;
    &:hover{
        .HasItems{
            display: flex;
        }
    }
    .Files{
        li{
            list-style-type: none;
            display: flex;
            align-items: center;
            justify-content: space-between;
            span{
                font-size: 20px;
                z-index: 1000000;
            }
        }
    }
    
    .Dropzone {
        position: absolute;
        height: 170px;
        width: 95%;
        border: 1px dashed #ccc;
        padding: 20px;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        svg{
            width: 50px;
            height: 50px;
        }
    }
    .HasItems{
        position: absolute;
        display: none;
        transition: all 0.5s ease-in-out;
    }
    
}
.Draged{
    .Dropzone {
        display: flex !important;
    }
}
.Validation{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    margin-top: 5px;
    font-size: 15px;
    color: $lite_gray;
    .SizeValidation{
        display: flex;
        flex-flow: column;
    }
}

.Errors{
    list-style-type: none;
    color: $red;
}


