@import '../../assets/scss/color_variables';
.SingleProfile {
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 175px;
    width: 75vw;
    .MainInfo {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-top: -13%;
        .data{
            color: $main_color;
            display: flex;
            flex-direction: column;
            align-items: center;
            h3, span{
                margin: 5px 0;
            }
        }
    }
}