@import '../../../assets/scss/screen_sizes';
.Modal {
    z-index: 500;
    width: 90%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #ccc;
    background-color: white;
    transition: all 0.3s ease-out;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 1px black;
    padding: 5px 15px;
    overflow: hidden;
    .ModalHeader{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        width: 100%;
        height: 80px;
        .Icon{
            cursor: pointer;
            &>*{
                width: 50px;
                height: 50px;
            }
        }
        @media screen and (max-width: $mobile_landscape_max_width){
            img{
                width: 100%;
                height: 57px;
            }
            .Icon{
                cursor: pointer;
                &>*{
                    width: 25px;
                    height: 25px;
                }
            }
        }
        
    }
    @media screen and (min-width: $small_tablet_min_width){
        width: 70%;
    }
    @media screen and (min-width: $large_min_width){
        width: 50%;
    }
}