@import '../../../../assets/scss/screen_sizes';
@import '../../../../assets/scss/color_variables';
.TaskDetails {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 100%;
    margin-bottom: 20px;
    @media screen and (min-width: $large_min_width){
        &:first-child{
            margin-right: 10px;
        }
        &:last-child{
            margin-left: 10px;
        }
    }
    .TaskDetails{
        height: 100%;
        max-height: 400px;
        overflow-y: scroll;
    }
    .Files{
        list-style-type: none;
        display: flex;
        flex-direction: column;
        li{
            display: flex;
            justify-content: space-between;
            a{
                color: $main_color
            }
        }
    }
}