@import '../../assets/scss/color_variables';
@import '../../assets/scss/screen_sizes';
.HomeHeader{
    .Login{
        background-color: $white;
        padding: 20px;
        width: 25vw;
        border-radius: 15px;
        max-width: 500px;
        @media screen and (max-width: $small_tablet_max_width ){
            width: 95vw;
        }
        @media screen and (min-width: $large_tablet_min_width) and (max-width: $large_tablet_max_width){
            width: 40vw;
        }
    }
}