@import '../../assets/scss/color_variables';
@import '../../assets/scss/screen_sizes';
.HomeHeader{
    .Login{
        background-color: $white;
        padding: 20px;
        width: 25vw;
        border-radius: 15px;
        max-width: 500px;
        height: 50vh;
        @media screen and (max-width: $small_tablet_max_width ){
            width: 100vw;
        }
    }
}