@import '../../../../assets/scss/color_variables';
.NavigationItem {
    margin: 10px 0;
    display: block;
    width: 100%;
    a {
        color: #8f5c2c;
        text-decoration: none;
        width: 100%;
        display: block;
        &:hover,
        &:active,
        &.active {
            color: #40A4C8;
        }
    }
}

@media (min-width: 500px) {
    .NavigationItem {
        margin: 0;
        display: flex;
        height: 100%;
        width: auto;
        align-items: center;
        a {
            color: #fff;
            height: 100%;
            padding: 16px 10px;
            border-bottom: 4px solid transparent;
            display: block;
            &:hover,
            &:active,
            &.active {
                background-color: $white;
                border-bottom: 4px solid #40A4C8;
                color: $main_color;
            }
        }
    }
}