@import '../../../assets/scss/color_variables';
.NavigationItem {
    margin: 10px 0;
    display: block;
    width: 100%;
    a {
        color: $main_color;
        text-decoration: none;
        width: 100%;
        display: block;
        &:hover,
        &:active,
        &.active {
            color: #40A4C8;
            &::after{
                content: '';
                position: absolute;
                width: 0;
                height: 0;
                border-top: 15px solid transparent;
                border-bottom: 15px solid transparent;
                border-left: 15px solid $main_color;
                left: 100%;
                top: 50%;
                transform: translateY(-50%)
            }
        }
    }
}

@media (min-width: 500px) {
    .NavigationItem {
        margin: 0;
        display: flex;
        height: 100%;
        width: auto;
        align-items: center;
        a {
            color: #fff;
            height: 100%;
            padding: 16px 10px;
            border-bottom: 4px solid transparent;
            display: block;
            &:hover,
            &:active,
            &.active {
                background-color: $white;
                border-bottom: 4px solid #40A4C8;
                color: $main_color;
            }
        }
    }
}