@import '../../assets/scss/screen_sizes';
.TaskForm {
    display: flex;
    flex-direction: column;
    .TaskFormContainer{
        display: flex;
        flex-direction: column;
        .leftSection{
            .BasicInfo {
                display: flex;
                flex-flow: column;
            }
        }
        .rightSection{
            margin-top: 20px
        }
        @media screen and (min-width: $large_min_width){
            flex-direction: row;
            justify-content: space-between;
            .leftSection{
                width: 70%;
                .BasicInfo{
                    flex-direction: row;
                    justify-content: space-between;
                    margin-bottom: 20px;
                    div{
                        width: 49%;
                    }
                }
            }
            .rightSection{
                width: 30%;
            }
        }
    }
    .SubmitButton{
        width: fit-content;
        align-self: flex-end;
    }
}