@import '../../assets/scss/screen_sizes';
.TaskForm {
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    width: 85%;
    padding: 10px;
    @media screen and (max-width: $small_tablet_max_width){
        flex-flow: column;
        width: 100%;
    }

    @media screen and (max-width: $large_tablet_max_width){
        width: 90%;
    }
    .TaskFormContainer{
        display: flex;
        @media screen and (max-width: $large_tablet_max_width){
            flex-flow: column;
            width: 100%;
        }
        .leftSection{
            width: 70%;
            @media screen and (max-width: $large_tablet_max_width){
                flex-flow: column;
                width: 100%;
            }
            .BasicInfo {
                display: flex;
                justify-content: space-between;
                margin-bottom: 20px;
                @media screen and (max-width: $large_tablet_max_width){
                    flex-flow: column;
                    width: 100%;
                }
                div{
                    width: 49%;
                    @media screen and (max-width: $large_tablet_max_width){
                        width: 100%;
                    }
                }
            }
        }
        .rightSection{
            width: 30%;
            @media screen and (max-width: $large_tablet_max_width){
                flex-flow: column;
                width: 100%;
                margin-top: 20px
            }
        }
    }
    .SubmitButton{
        width: fit-content;
        align-self: flex-end;
    }
}