@import '../../assets/scss/screen_sizes';

.MainApp, aside {
    margin-top: 56px;
}
.MainApp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100vw;
    padding: 10px 10px;
    @media (min-width: $large_tablet_min_width) {
        width: 80vw;
        margin-left: 20vw;
        padding-left: 20px
    }
    @media (min-width: $large_min_width){
        width: 85vw;
        margin-left: 15vw;
    }
}
aside {
    width: 70vw;
    @media (min-width: $large_tablet_min_width) and (max-width: $large_tablet_max_width) {
        width: 20vw;
    }
    @media (min-width: $large_min_width){
        width: 15vw;
    }
}