@import '../../assets/scss/color_variables';
.SinglePost {
    width: 95%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    margin: 40px 0px;
    border: 1px solid #ccc;
    justify-content: center;
    .Files{
        list-style-type: none;
        display: flex;
        flex-direction: column;
        li{
            display: flex;
            justify-content: space-between;
            a{
                color: $main_color
            }
        }
    }
}