@import '../../assets/scss/color_variables';
@import '../../assets/scss/screen_sizes';
.DetailsContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    @media screen and (min-width: $large_min_width){
        flex-direction: row;
        justify-content: space-between;
        margin: 0;
        width: 100%;
    }
    .TaskDetails {
        display: flex;
        flex-direction: column;
        padding: 10px;
        border-radius: 4px;
        border: 1px solid #ccc;
        width: 100%;
        margin-bottom: 20px;
        @media screen and (min-width: $large_min_width){
            &:first-child{
                margin-right: 10px;
            }
            &:last-child{
                margin-left: 10px;
            }
        }
        .Files{
            list-style-type: none;
            display: flex;
            flex-direction: column;
            li{
                display: flex;
                justify-content: space-between;
                a{
                    color: $main_color
                }
            }
        }
    }
}
.Actions{
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    button{
        &:first-of-type{
            margin-right: 10px;
        }
        &:last-of-type{
            margin-left: 10px;
        }
    }
    .DeliverTask{
        text-decoration: none;
        padding: 10px 20px;
        background-color: $main_color;
        color: $white;
        margin: 10px 0;
        display: flex;
        border-radius: 5px;
        width: 8rem;
        align-items: flex-end;
        align-content: center;
        align-self: flex-end;
    }
}
.Evaluation{
    margin: 30px auto;
    @media screen and (max-width: $large_tablet_max_width ){
        width: 95%;
    }
    .EvaluationRate{
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        border: 1px solid #ccc;
        border-radius: 50%;
        position: absolute;
        top: 10px;
        right: 10px
    }
}
.Success{
    background-color: $green;
    color: $white
}
.Failed{
    background-color: $red;
    color: $white
}