@import '../../assets/scss/color_variables';
.SinglePost {
    width: 95%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    margin: 40px 0px;
    border: 1px solid #ccc;
    justify-content: center;
    .Details{
        border: 1px solid #ccc;
        padding: 20px;
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        position: relative;
        .Title{
            font-weight: bold;
            text-transform: uppercase;
            border: 1px solid #ccc;
            padding: 5px;
            border-radius: 5px;
            width: max-content;
            position: absolute;
            top: -1rem;
            background-color: #fff;
        }
        img{
            width: 100%;
            height: 100%;
        }
        .Files{
            list-style-type: none;
            display: flex;
            flex-direction: column;
            li{
                display: flex;
                justify-content: space-between;
                a{
                    color: $main_color
                }
            }
        }
    }
}