@import '../../assets/scss/screen_sizes';
@import '../../assets/scss/color_variables';

.Post {
    width: 100%;
    max-width: 800px;
    box-shadow: 7px 7px 24px -1px rgba(0, 0, 0, 0.75);
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    margin: 40px 0px 20px;
    border: 1px solid #ccc;
    @media screen and (min-width: $small_tablet_min_width){
        width: 90%;
    }
    @media screen and (min-width: $large_max_width){
        width: 70%
    }
    
    header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 18px;
        margin-bottom: 10px;
        svg{
            width: 20px;
            height: 20px;
            margin-left: 15px;
            cursor: pointer;
        }
    }
    .Content{
        img{
            width: 100%;
            height: 100%;
        }
    }
    .PostLink{
        color: $main_color
    }
}