.Post {
    width: 60vw;
    box-shadow: 7px 7px 24px -1px rgba(0, 0, 0, 0.75);
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    margin: 40px 0px;
    border: 1px solid #ccc;
    header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 20px;
        font-size: 18px;
        .Info{
            display: flex;
            justify-content: center;
            align-content: center;
            align-items: center;
            img{
                width: 50px;
                height: 50px;
                border-radius: 50%;
            }
            div{
                margin-left: 10px;
                span, time{
                    display: block;
                    font-size: 12px;
                    color: rgb(124, 122, 122);
                }
            }
        }
        svg{
            width: 20px;
            height: 20px;
            margin-left: 15px;
            cursor: pointer;
        }
    }
    .Content{
        img{
            width: 100%;
            height: 100%;
        }
    }
}