@import '../../../assets/scss/screen_sizes';
.Form{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    width: 100%;
    @media screen and (max-width: $mobile_landscape_max_width){
        flex-flow: column;
    }
    .FormContainer{
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        @media screen and (max-width: $mobile_landscape_max_width){
            flex-flow: column;
        }
        .LeftSection{
            width: 49%;
            @media screen and (max-width: $mobile_landscape_max_width){
                width: 100%
            }
            .Row{
                display: flex;
                justify-content: space-between;
            }
        }
        .RightSection{
            display: flex;
            flex-direction: column;
            width: 49%;
            @media screen and (max-width: $mobile_landscape_max_width){
                width: 100%
            }
        }
        .RegButton{
            align-self: flex-end;
        }
    }
}