@import './assets/scss/screen_sizes';

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
.container {
	width: 98%;
	max-width: 1200px;
	margin: auto;
	padding: 0 20px;
}

.konvajs-content {
	width: 100% !important;
}

.MobileOnly {
	@media (min-width: $mobile_landscape_max_width) {
		display: none;
	}
}
.DesktopOnly {
	@media (max-width: $small_tablet_max_width) {
		display: none;
	}
}

.ql-container.ql-snow {
	min-height: 90px;
}

.rct-icon {
	width: 1.3rem !important;
	height: 1.3rem;
}

.Success {
	text-align: center;
	color: green;
	margin: 20px 0;
	font-weight: bold;
	font-size: 25px;
}

.Failed {
	text-align: center;
	color: red;
	margin: 20px 0;
	font-weight: bold;
	font-size: 25px;
}
