@import '../../../assets/scss/color_variables';
.Container{
    position: relative;
    display: flex;
    flex-flow: column;
    margin-top: 20px;
    .Dropzone {
        width: 100%;
        border: 1px dashed #ccc;
        padding: 20px;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
}
.Validation{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    margin-top: 5px;
    font-size: 15px;
    color: $lite_gray;
    .SizeValidation{
        display: flex;
        flex-flow: column;
    }
}

.Errors{
    list-style-type: none;
    
}

