.Comment {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    margin-bottom: 30px;
    border: 1px solid #ccc;
    justify-content: center;
    box-shadow: 7px 7px 24px -1px rgba(0, 0, 0, 0.75);
    .CommentHeader{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0;
        svg{
            width: 20px;
            height: 20px;
            margin-left: 15px;
            cursor: pointer;
        }
    }
    .Content{
        padding-left: 20px;
        img{
            width: 100%;
            height: 100%;
        }
    }
}