.UserImage{
    position: relative;
    img{
        width: 250px;
        height: 250px;
        border-radius: 50%
    }
    .Overlay{
        position: absolute;
        top: 50%;
        left: 0;
        height: 50%;
        width: 250px;
        background-color: rgba(0,0,0, 0.5);
        display: none;
        justify-content: center;
        border-bottom-left-radius: 250px;
        border-bottom-right-radius: 250px;
        align-items: center;
        cursor: pointer;
        svg{
            width: 50px;
            height: 50px;
        }
        
    }
    &:hover{
        .Overlay{
            display: flex;
        }
    }
}